:root{
  --color_br--: gray;
  --color_rr--:#fff;
  --color_dark--:black;
 
}

*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: monospace;
  background-color: var(--color_br--);
  color: var(--color_rr--);
}

#head{
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  
}

.hh{
  border-bottom: solid 3px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: rgba(70, 23, 23, 0.705);
}

.xx{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.xss input{
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1rcap;
  color: var(--color_dark--);

}

input[type="text"], input[type="date"] {
  width: 97%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
}

input[type="date"]{
  width: 75%;
}

.btn5{
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  width: 20%;
  padding: 12px 0px;
  font-weight: 700;
  color: var(--color_dark--);
}

#taskInput::placeholder {
  font-weight: 700;
  text-align: center;
  color: var(--color_dark--);
}

#dueDate{
 color: var(--color_dark--);
 font-weight: 700;
 text-align: center;
 text-transform: uppercase;
}
 
ul {
    
    list-style-type: none;
  }   


.ssx{
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  font-weight: 700;
  box-sizing: border-box;
  margin-inline-end: 15px;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius:1em;

}
.due-date ,.text ,.btn ,.btn2{
  margin: 10px 0px;
 align-self: center;
 padding: 10px 5px;
}

.btn {
  accent-color: black;
  margin-left:2px ;

}


.btn2{
  font-weight: 700;
  color: var(--color_dark--);
  border-bottom-right-radius:0.5em ;
  border-top-right-radius:0.5em ;
  padding: 0px 2px;
}

.text {
  color: var(--color_dark--);
  box-shadow: var(--main-shadow);
  font-weight: 500;
  font-size: 1.1rem;
  font-family: monospace ;
}

.due-date{
  font-size: 1rem;
  font-weight: 500;
}




footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:rgba(70, 23, 23, 0.705) ;
  color: var(--color_rr--);
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  border-top: solid 3px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}



@media (max-width :760px) {
 
  #head{
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    
  }
  
  .hh{
    border-bottom: solid 3px;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    background-color: rgba(70, 23, 23, 0.705);
  }
  
  .xx{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-left:10px ;
  }
  
  .xss input{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1rcap;
    color: var(--color_dark--);
  
  }
  
  input[type="text"], input[type="date"] {
    width: 97%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
  }
  
  input[type="date"]{
    width: 75%;
  }
  
  .btn5{
    margin-inline-end: 5px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
    width: 20%;
    padding: 12px 0px;
    font-weight: 700;
    color: var(--color_dark--);
  }
  
  #taskInput::placeholder {
    font-weight: 700;
    text-align: center;
    color: var(--color_dark--);
  }
  
  #dueDate{
   color: var(--color_dark--);
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
  }

  ul {
    
    list-style-type: none;
  }   


.ssx{
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  font-weight: 700;
  box-sizing: border-box;
  margin-inline-end: 10px;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius:1em;

}
.due-date ,.text ,.btn ,.btn2{
  margin: 10px 0px;
 align-self: center;
 padding: 10px 5px;
}

.btn {
  accent-color: black;
  margin-left:3px ;

}


.btn2{
  font-weight: 700;
  color: var(--color_dark--);
  border-bottom-right-radius:0.5em ;
  border-top-right-radius:0.5em ;
  padding: 0px 2px;
}

.text {
  color: var(--color_dark--);
  font-weight: 400;
  font-size: 16px;
  font-family: monospace ;
}

.due-date{
  font-size: 14px;
  font-weight: 400;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:rgba(70, 23, 23, 0.705) ;
  color: var(--color_rr--);
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  border-top: solid 3px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}


 
}


